*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: rgb(189, 231, 201);
}

footer{
    background-color: black;
    color: aliceblue;
}

nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}